<div *ngIf="user" class="chats-page">
  <div class="chats" #chatContainer>
    <md-list>
      <div *ngFor="let m of messages | async" class="single-chat" [ngClass]="{'my-chat': isMyChat(m.id)}">
        <md-list-item>
          <img md-list-avatar [src]="m.photoUrl || defaultPhotoUrl">
          <h3 md-line>{{m.name}}</h3>
          <p md-line *ngIf="m.date">{{parseDate(m.date)}}</p>
          <p md-line>
            <span>{{m.message}}</span>
          </p>
        </md-list-item>
      </div>
    </md-list>
  </div>
  <div class="chat-input">
    <div class="col-md-12">
      <md-input-container>
        <input mdInput maxlength="50" placeholder="Say Hello !" (keyup.enter)="send()" [(ngModel)]="currentMessage"
               [disabled]="sendingMessage">
        <md-hint align="end">{{currentMessage?.length || 0}} / 50</md-hint>
      </md-input-container>
    </div>
    <!--<div class="col-md-2">-->
    <!--<button class="mat-button" [disabled]="!currentMessage" (click)="send()"><i class="material-icons">send</i></button>-->
    <!--</div>-->
  </div>
</div>
